[
    {
        "name": "name of friend",
        "number": "phone number",
        "dob": "date of birth"
    },
    {
        "name": "name of friend",
        "number": "phone number",
        "dob": "date of birth"
    }
]
