[
    {
        "name": "name of friend",
        "number": "phone number without country code",
        "dob": "date of birth (DD-MM-YYYY)"
    },
    {
        "name": "name of friend",
        "number": "phone number without country code",
        "dob": "date of birth (DD-MM-YYYY)"
    }
]
